.button-delete {
    background: darkred !important;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
  }

.ocultar {
    display: none;
}

.container {
    gap: 30px;
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    box-shadow: 5px 20px 20px rgba(6, 239, 247, 0.349);
    border: 1px solid rgba(36, 104, 231, 0.842);
    border-radius: 8px;
    height: 500px;
    width: 300px;
    background: rgb(255, 255, 255);
}

.card:hover {
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px  rgb(240, 11, 11);
}

.card img {
    width: 69%;
}

.card .card-name {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card-description {
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 19px;
    margin: 0px 10px;
}

.card .card-price {
    color: rgb(11, 130, 235);
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    display: block;
    width: 1fr;
    margin-top: 15px;
}

.card .card-button {
    text-align: center;
    display: block;
}

.button-add {
    height: 30px;
    width: 190px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
    outline: 1px solid rgba(34, 106, 241, 0.842) !important;
}

.card .card-{
    margin-top: 10px;
    font-size: 20px !important;
}

.card .card-button .disabled {
    background-color: lightgray !important;
    color: #2A2A2A !important;
}

.card .card-button button:active {
    background: rgba(172, 5, 5, 0.815)!important;
    color: #2a2a2a !important;
}

.sin-stock {
    filter: grayscale(100%) opacity(40%); 
}

#errorCard {
    display: none;
    background: #222;
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 40px;
    margin-top: 20%;
    color: rgb(175, 14, 14);
    font-size: 30px;
}

.centrar-div {
    text-align: center;
}